<div class="form-group deploy" ng-if="(selection.repoType.value !== 'ivy' && selection.repoType.value !== 'gradle')
    && (!generateSettings || !showSettings)">
    <div class="form-group-cell">
        <label>Repository</label>
        <ui-select jf-disable-ng-animate ng-model="selection.repo" ng-change="status.snippetResolved = false; resolveSnippet()" remove-selected="false"
                ng-disabled="shownRepos.length == 0 || disableToolAndRepoChange">
            <ui-select-match placeholder="Select Repository">
                {{$select.selected.text}}
            </ui-select-match>
            <ui-select-choices jf-disable-ng-animate repeat="property in shownRepos | filter: $select.search track by $index">
                <div ng-bind-html="property.text | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>


</div>