<div class="modal-header">
    <button type="button" class="close" data-dismiss="close" aria-label="Close" ng-click="$dismiss()"><span
            aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Sumo Logic Authorization</h3>
</div>
<div class="modal-body property-modal">
    This is the best feature in the world, just signin with Sumo Logic for a new account.
    <p class="text-right retrieve-token"><a href="" ng-click="LogAnalytics.goToSumo()"><i class="icon icon-bintray"></i> Get Authorization</a></p>
</div>